*{ 
    margin: 0;
    padding: 0;
    font-family: sans-serif ;
}
UL{
    list-style:none ;
    margin: 0;
    padding: 0;

}
ul li a {
    text-decoration: none;
}
.flex-contanier {
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
}
header{
    color: #fff;  
    background-color: #122A57;
    height: 100px;
    display: flex;
    align-items: center          
}
header .list-items {
    display: flex;
    max-width: 260px;
    width: 100%;
    justify-content: space-between;    
}  
header .menu{
    justify-content: space-between;
}
.list-items li a{
    color: #fff;
}
.apresentacao{
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}
.apresentacao .texto-apresentacao{
    min-height: 200px;
}
.texto-apresentacao h1 {
    color: #122A57;
}